<h1>Edit restaurant</h1>
<!-- <form action="/restaurants/2" method="patch">
  <label for="name">Enter a name</label>
  <input type="text" id="name" name="restaurant[name]" value="mamma roma">

  <label for="address">Enter a address</label>
  <input type="text" id="address" name="restaurant[address]" value="address">

  <label for="rating">Enter a rating</label>
  <input type="text" id="rating" name="restaurant[rating]" value="3">

  <input type="submit">
</form> -->
<%= render "form" %>
