<h1>Create a restaurant</h1>
<!-- <form action="/restaurants" method="post">
  <label for="name">Enter a name</label>
  <input type="text" id="name" name="restaurant[name]">

  <label for="address">Enter a address</label>
  <input type="text" id="address" name="restaurant[address]">

  <label for="rating">Enter a rating</label>
  <input type="text" id="rating" name="restaurant[rating]">

  <input type="submit">
</form> -->
<%= render "form" %>
